on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  get-token:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Get OIDC token
        uses: actions/github-script@v7
        id: octogate
        env:
          TOKEN_URL: ${{ vars.TOKEN_URL }}
        with:
          script: |
            const idToken = await core.getIDToken()
            const response = await fetch(process.env.TOKEN_URL, {
              method: 'POST',
              body: JSON.stringify({ provider: 'fuzzy' }),
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${idToken}`
              }
            })
            if (!response.ok) {
              throw new Error(`Response status: ${response.status}`);
            }
            console.log(await response.text());

