on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  get-token:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Get OIDC token
        uses: actions/github-script@v7
        id: octogate
        env:
          TOKEN_URL: ${{ vars.TOKEN_URL }}
        with:
          script: |
            const idToken = await core.getIDToken()
            const response = await fetch(process.env.TOKEN_URL, {
              method: 'POST',
              body: JSON.stringify({ provider: 'fuzzy' }),
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${idToken}`
              }
            })
            if (!response.ok) {
              throw new Error(`Response status: ${response.status}: ${response.statusText}`);
            }
            json = await response.json()
            core.setOutput('token', json.token)
      - name: debug
        run: echo ${{ steps.octogate.outputs.token }}
      - name: Create issue
        uses: actions/github-script@v7
        with:
          github-token: ${{ steps.octogate.outputs.token }}
          script: |
#            const response = await github.rest.issues.create({
#              owner: context.repo.owner,
#              repo: 'effective-octo-engine',
#              title: 'New issue',
#              body: 'This is a new issue'
#            })
#            console.log(response.data)
#
            await github.rest.actions.updateRepoVariable({
              owner: context.repo.owner,
              repo: 'effective-octo-engine',
              name: 'FOO',
              value: 'BAR',
            })
