on:
  push:
    branches:
      - main

jobs:
  get-token:
    runs-on: ubuntu-latest
    steps:
      - name: Get OIDC token
        uses: actions/github-script@v7
        env:
          TOKEN_URL: ${{ vars.TOKEN_URL }}
        with:
          script: |
            token := await core.getIDToken()
            const response = await fetch(process.env.TOKEN_URL, {
              method: 'POST',
              body: JSON.stringify({ provider: 'fuzzy' }),
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
              }
            return await response.json()
            
